<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194294141006-qpeb4h5cahddrecgodgd611iisogvkme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194294141006-qpeb4h5cahddrecgodgd611iisogvkme</string>
	<key>API_KEY</key>
	<string>AIzaSyDb0xMkqh7C9F6o2QjEl97ucmQXqbPzXL4</string>
	<key>GCM_SENDER_ID</key>
	<string>194294141006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jan-Ink...BogdanovSoundboard</string>
	<key>PROJECT_ID</key>
	<string>bogdanovsoundboard</string>
	<key>STORAGE_BUCKET</key>
	<string>bogdanovsoundboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194294141006:ios:239449222cb197d2</string>
	<key>DATABASE_URL</key>
	<string>https://bogdanovsoundboard.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4163934721346507~5288385279</string>
</dict>
</plist>